.pulse-button {

  position: relative;
  width: 100px;
  height: 100px;
  border: none;
  box-shadow: 0 0 0 0 rgba(11, 167, 29, 0.7);
  border-radius: 50%;
  background-color: #3f2e2e07;
  background-image: url(../images/logo.png);
  background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
.pulse-button:hover 
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(223, 173, 9, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(223, 173, 9, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(223, 173, 9, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(223, 173, 9, 0);}}

/*****    ****/
/*  bouton  */
/*****   ****/

*{
  box-sizing: border-box;
}

.centerBox{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px
}

.categoryWrapper{
  height: 14em;
  width: 460px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.categoryWrapper:after{
  position: absolute;
  top:0;
  left: 0;
  right:0;
  bottom: 0;

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a29ca9', endColorstr='#95909b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  content: '';
  opacity: 0;
      -webkit-transition: opacity 0.9s ease 0s; 
}

.categoryWrapper:hover:after{
  opacity: 0.4;
}

.categoryWrapper h1{
  color:black;
  font-size: 50px;
  letter-spacing: 2px;
  -webkit-transition: all 0.15s ease 0s; 
  position: relative;
  z-index: 10;
}

.categoryWrapper:hover h1{
  transform: translateY(-10px);
}

.categoryWrapper button{
  position: absolute;
  transform: translatey(60px);
  -webkit-appearance: none;
  border: none;
  background: none;
  color:rgb(22, 22, 22);
  width: 250px;
  height:50px;
  font-size: 20px;
  padding: 0;
  margin: 0;
  outline: none;
  z-index: 10;
}

.categoryWrapper button span{
  display: block;
  position: relative;
  line-height: 50px;
  height: 50px;
  cursor: pointer;
}

.categoryWrapper button > span:after{
  content:'';
  position: absolute;
  top:0;
  left: 50%;
  width: 20px;
  height: 0;
  
  border: 1px solid rgb(49, 49, 49);
  border-left: none;
  border-bottom: none;
  
      transition: height 0.15s ease-out, width 0.15s ease-out 0.15s;
}

.categoryWrapper:hover button > span:after{
  width: calc(50% - 1px);
  height: calc(100% - 2px);
  transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}

.categoryWrapper button > span:before{
  content:'';
  position: absolute;
  top:0;
  right: 50%;
  width: 20px;
  height: 0;
  
  border: 1px solid rgb(32, 32, 32);
  border-right: none;
  border-bottom: none;
  
      transition: height 0.15s ease-out, width 0.15s ease-out 0.15s;
}

.categoryWrapper:hover button > span:before{
  width: calc(50% - 1px);
  height: calc(100% - 2px);
  transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}

.categoryWrapper button > span > span:before{
  content:'';
  position: absolute;
  bottom:0;
  right: 0%;
  width: 1px;
  height: 1px;
  opacity: 0;
  
}

.categoryWrapper:hover button > span > span:before{
  opacity: 1;
  border-bottom: 1px solid rgb(31, 32, 31);
  width: calc(50%);
  height: 1px;
  transition: opacity 0s ease-out 0.29s, width 0.15s ease-out 0.3s;
}

.categoryWrapper button > span > span:after{
  content:'';
  position: absolute;
  bottom:0;
  left: 0%;
  width: 1px;
  height: 1px;
  opacity: 0;
  
}

.categoryWrapper:hover button > span > span:after{
  opacity: 1;
  border-bottom: 1px solid rgb(32, 32, 32);
  width: calc(50%);
  height: 1px;
  transition: opacity 0s ease-out 0.29s, width 0.15s ease-out 0.3s;
}

.categoryWrapper button > span > span > span{
  transition: color 0.15s ease-out 0.3s;
  color: transparent;
}

.categoryWrapper:hover button > span > span > span{
  color: black;
}

.categoryWrapper button > span > span > span:after{
  position: absolute;
  top:0;left:0;right:0;bottom:0;
  color:white;
  content: attr(data-attr-span);
  width: 0%;
  height: 100%;
  background:rgb(0, 0, 0);
  white-space: nowrap;
  text-align: center;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  transition: width 0.2s;
}

.categoryWrapper button:hover > span > span > span:after{
  width: 100%;
}